@import "tailwindcss";
@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #fff;
  --foreground: #171717;
  --primary: #9810fa;
  --secondary: #304fff;
  --primary-accent: #9810fa;
  --foreground-accent: #454545;
  --hero-background: #f3f3f5;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-[rgb(var(--background))] font-sans text-lg text-[rgb(var(--foreground))];

  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  @apply font-[Manrope];

  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-[Manrope];

  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply h-10 w-fit sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}
